*.sdf
*.opensdf
*.sln
*.vcproj*
*.vcxproj*
*.csproj*
*.ncb
*.suo
*.cache
*.exe
*.bak

SCom/debug/*
SCom/release/*
SCom/Debug/*
SCom/Release/*
SCom/SCom/Debug/*
SCom/SCom/Release/*
SCom/ipch/*

SComUI/SComUI/obj/*
SComUI/SComUI/bin/*

targetver.h

*.hex
*.obj
*.LST
*.__i
*.plg
*.lnp
*.uvopt
*.SRC
*.ls1
*._ia